{% extends 'base.html.twig' %}
{% block body %}
    {% for message in app.session.flashbag.get('error') %}
        <div>
            {{ message }}
        </div>
    {% endfor %}
    <h2>Создание новой команды: </h2>
<form method="post" action="{{ path('teams_store') }}">
    <label>Название: <input type="text" name="name"></label>
    <input type="submit">
</form>
{% endblock %}